services:
  db:
    image: postgres:15
    restart: always
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: pantry
    volumes:
      - pgdata:/var/lib/postgresql/data
    ports:
      - "5432:5432"
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres -d pantry"]
      interval: 10s
      timeout: 5s
      retries: 5

  backend:
    build:
      context: ./pantry_app_server
      dockerfile: Dockerfile
    restart: always
    environment:
      DATABASE_URL: postgres://postgres:postgres@db:5432/pantry
      PORT: 3000
      SECRET_KEY: "amazinglysecretkeythatnobodyknowsandwouldtakealongtimetofindout"
    depends_on:
      - db
    ports:
      - "3000:3000"

  frontend:
    build:
      context: ./pantry_app_client
      dockerfile: Dockerfile
    restart: unless-stopped
    depends_on:
      - backend
    ports:
      - "80:80"
    environment:
      VITE_API_BASE_URL: "http://backend:3000"

volumes:
  pgdata:
