.navbar {
  display: flex;
  flex-direction: column;
  align-items: center; /* Align items vertically */
  justify-content: center; /* Center all items horizontally */
  top: 0;
  width: 100%;
  padding: 10px 20px;
  background-color: #343a40; /* Dark background */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.navbar h1 {
  color: white; /* Ensure the text is visible */
  margin: 0 auto; /* Center the h1 horizontally */
  font-size: 2em; /* Adjust font size for the navbar */
  text-align: center; /* Center the text */
  position: static;
}

.navbar .menu-items {
  display: flex; /* Ensure items are laid out horizontally */
  right: 20px; /* Align to the right */
  margin: 0 auto; /* Center the menu items */
  gap: 1em; /* Space between menu items */
}

/* .menu-item {
} */
